.formWrap{
    margin: 3rem auto 0;
    ul{
        li{
            margin: 1rem auto;
        }
    }
    .hint{
        margin-bottom: 0.5rem;
        font-size: 10px;
        text-align: left;
        font-weight: bold;
        color: brown;
    }
}
