.authWrapper{
    text-align: center;
    .headline1{
    display: inline-block;
        text-align: center;
        font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    font-family: "Rubik",sans-serif;
    margin: 1.5rem 2.0rem;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color: black;
    &::before{
        background-color: #454545;
        content: "";
        height: 1.2rem;
        margin: 0 auto;
        position: absolute;
        right: -1.5rem;
        top: 7px;
        transition: all 0.4s ease 0s;
        width: .1rem;
    }

    }
    .headline2{
        display: inline-block;
            text-align: center;
            font-size: 25px;
        font-weight: 700;
        font-family: "Rubik",sans-serif;
        margin: 1.5rem 20px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        color: tomato;
    
        }
    .wrap{
        display: block;
    width: 100%;
    max-width:40.0rem ;
    border :none;
    box-shadow: 0 0 6px rgba(0, 0, 0,  .10);
    margin: 2rem auto 6rem;
    padding: 40px 80px;
    background:none;
        
        
        
    }
}
